# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets / local config
*.xcconfig.local
Secrets.plist
GoogleService-Info.plist
